body{box-sizing:border-box;max-width:960px;margin:0 auto;font-family:'Open Sans',sans-serif;color:#414141}
.F{float:left}
.FO{float:right}
.logo{background:url(img/logo.png) no-repeat;font-size:0;width:220px;height:60px;float:left}
.search i{background:#f0f7fe;width:50px;height:40px;color:#05539f;font-size:20px;line-height:37px;text-align:center;border-radius:4px;cursor:pointer}
.search{float:right;margin-top:20px}
section{float:left;width:100%;margin:20px 0}
.search input{box-sizing:border-box;float:left;border:0;width:150px;height:40px;border-radius:4px;background-color:#f0f7fe;border-top-right-radius:0;border-bottom-right-radius:0;padding:5px;font-size:14px;display:none}
.search input:focus{outline:0}
h2{font-size:24px;margin:0;text-align:center;margin-bottom:4px}
.signIn{border:2px solid #f5f5f5;width:500px;margin:0 auto;padding:26px 47px;font-size:14px;box-sizing:border-box;margin-top:20px}
.signIn>div{text-align:center;letter-spacing:.5px}
label{display:block;font-size:14px;color:#414141;font-style:oblique}
.formRow input{font-size:14px;font-weight:bold;width:100%;height:50px;border-radius:3px;border:1px solid #f6f6f6;margin:11px 0;padding:10px;box-sizing:border-box}
.formRow input:focus{border:1px solid #05539f}
.button{font-size:20px;color:#fff;font-weight:700;width:300px;height:50px;border-radius:3px;background-color:#05539f;margin:22px auto;display:block;border:3px solid #f5f5f5;letter-spacing:2px}
.product{float:left;width:calc(100%/3);text-align:center}
.productPrice{font-size:18px;color:#000;font-weight:700;width:220px;margin:auto;text-align:left}
.productTitle{font-size:14px;width:220px;margin:auto;text-align:left;margin-top:10px}
form{margin-top:31px}
.signInOptions{font-size:12px;margin-top:12px}
.signInOptions a{color:#05549f}
section#productList{margin-top:110px}
.container{display:inline-block;position:relative;padding-left:25px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-style:normal;font-size:12px}
.container input{position:absolute;opacity:0}
.checkmark{position:absolute;top:0;left:0;background-color:#eee;width:20px;height:20px;border-radius:3px}
.container:hover input ~ .checkmark{background-color:#ccc}
.container input:checked ~ .checkmark{background-color:#05539f}
.checkmark:after{content:"";position:absolute;display:none}
.container input:checked ~ .checkmark:after{display:block}
.container .checkmark:after{left:7px;top:3px;width:5px;height:10px;border:solid #fff;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.required{display:none;color:#f52f3f;padding:3px;width:112px;height:23px;background-color:#fff0f1;font-size:12px;box-sizing:border-box;text-align:center}
.error input{border-color:#f52f3f;margin-top:0}
.error .required{display:block}
.authFailed{display:none;color:#f52f3f}
::-webkit-input-placeholder {color: #dddddd}
::-moz-placeholder {color: #dddddd}
:-ms-input-placeholder {color: #dddddd}
:-moz-placeholder {color: #dddddd}
@media screen and (max-device-width:768px) {
.product{width:50%}
.productTitle{text-align:center;font-size:18px}
.productPrice{text-align:center;font-size:20px;margin-bottom:20px}
.signIn{width:90%}
.button{width:80%;height:60px;font-size:22px}
h2{font-size:28px}
.signIn>div{font-size:16px}
label{font-size:16px}
input{font-size:15px}
.logo{width:100%;text-align:center;background-position:center}
.search{width:90%;text-align:center;left:5%;position:relative;float:left}
.search i{width:10%;height:50px;line-height:49px;font-size:25px}
.search input{display:block!important;width:90%;height:50px}
section{margin:10px 0}
}
@media screen and (max-device-width:500px) {
.product{width:100%}
}